/* Global styles */
.dashboard, .graphs {
    padding: 60px 25px;
    color: var(--whiteSmoke);
    margin-top: 10rem;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10rem;
}

.main-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.section-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--mainColor);
}

/* Latest expenses styles */
.latest-expenses {
    flex: 1;
    margin-right: 20px;
}

.latest-expenses ul {
    padding: 0;
    margin: 0;
}

.latest-expenses li {
    display: flex;
    justify-content: space-between;
    background: #1B1B1B;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: var(--shadow);
}

.expense-title {
    font-weight: 600;
    color: var(--whiteSmoke);
}

.expenses-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.expenses-table th, .expenses-table td {
    padding: 0.5em 1em;
    border-bottom: 1px solid #333;
    text-align: left;
}

.expenses-table th {
    color: #00ffff;
    font-weight: 600;
    border-bottom: 2px solid #00ffff;
}

.expenses-table td {
    color: #eee;
}

.expense-amount {
    color: var(--mainColor);
    font-weight: 600;
}

/* Graph container styles */
.graph-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.graph {
    display: flex;
    flex-direction: column;
    width: 25rem;
    background: #1B1B1B;
    border-radius: 6px;
    padding: 20px;
    box-shadow: var(--shadow);
    color: var(--whiteSmoke);
    margin-left: 20px;
}

/* Main accueil styles */
.main-Accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 5rem;
    font-size: 24px;
    margin-bottom: 10rem;
}

/* Dashboard styles */
.dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
}

.welcome-name{
    color: white;
}


/* Solde du compte styles */
.account-balance {
    margin-top: 20px;
    text-align: center;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,255,255,0.2);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.account-balance h3 {
    color: #00ffff;
    margin-bottom: 10px;
}

.balance-amount {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}
